.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #001529 !important;
    margin-top: 50px;
    padding: 15px 0 !important;

}
.social {
	display: flex;
	gap: 10px;
}

.social a {
	text-decoration: none;
	color: #ffffff;
	position: relative;
}

.social img {
	width: 70px;
	height: 70px;
	object-fit: cover;
	border-radius: 10px;
	transition: transform 0.3s ease-in-out;
}

.social img:hover {
	transform: scale(1.1);
}

.contact {
	margin-right: 10px;
	color: white;
}